@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SuperAdmin.Models.Masterleads.Masterleads

@{
    ViewData["Title"] = "Add New Lead";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="pcoded-main-container">
    <div class="pcoded-content">
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <main id="main" class="card" style="width: 89%;margin-left: 49px; ">
                <div class="container mt-4" style="border: 2px solid;border-radius: 18px;color: #1b2850;">
                    <h3 style="width: 194px;text-align: center;border-radius: 14px;color: #f2f0f4;background-color: #1b2850;margin-top: -18px;margin-left: 16px;">Add New Lead</h3>
               <br />
                   
                    <form asp-action="AddMasterleads" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="FirstName">First Name</label>
                                    <input asp-for="FirstName" class="form-control" placeholder="Enter your first name" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="LastName">Last Name</label>
                                    <input asp-for="LastName" class="form-control" placeholder="Enter your last name" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="PhoneNumber">Phone Number</label>
                                    <input asp-for="PhoneNumber" class="form-control" placeholder="Enter your phone number" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Gender">Gender</label>
                                    <select asp-for="Gender" class="form-control">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                            </div>

                        </div>




                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="profession">Profession</label>
                                    <input asp-for="profession" class="form-control" placeholder="Enter your profession" />
                                    <span asp-validation-for="profession" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email address" required />
                                    <span id="emailValidation" class="text-danger"></span>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="CreatedDate">Created Date</label>
                                    <input asp-for="CreatedDate" class="form-control" id="createdDateInput" type="date" />
                                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Address">Address</label>
                                    <input asp-for="Address" class="form-control" placeholder="Enter your address" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Area">Area</label>
                                    <input asp-for="Area" class="form-control" placeholder="Enter your Area" />
                                    <span asp-validation-for="Area" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="City">City</label>
                                    <input asp-for="City" class="form-control" placeholder="Enter your City" />
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                            </div>
                        </div>



                        <div class="form-group">
                            <label asp-for="Country">Country</label>
                            <input asp-for="Country" class="form-control" placeholder="Enter your Country" />
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>




                        <button type="submit" class="btn btn-primary" style="float: right; margin-bottom: 22px;">
                            <i class="fa fa-save"></i> Save
                        </button>
                        
                    </form>
                    <br />
                    <br />
                </div>
                <br />
            </main>
         
          
        </div>
    </div>
</div>
    </div>
</section>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Get today's date
            var today = new Date();
            // Format the date as yyyy-mm-dd
            var formattedDate = today.toISOString().substr(0, 10);
            // Set the value of the input field
            document.getElementById('createdDateInput').value = formattedDate;
        });
    </script>
    <script>
    document.getElementById("email").addEventListener("input", function(event) {
        var emailInput = event.target.value;
        var emailValidationMessage = document.getElementById("emailValidation");
        
        if (!isValidEmail(emailInput)) {
            emailValidationMessage.textContent = "Please enter a valid email address.";
        } else {
            emailValidationMessage.textContent = "";
        }
    });

    function isValidEmail(email) {
        // Regular expression to validate email format
        var emailRegex = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
        return emailRegex.test(email);
    }
</script>
}