@model SuperAdmin.ViewModels.Common.UserProfileViewModel
 

@{
    Layout = GetLayoutBasedOnUserRole();
}

<!-- Your view content here -->
@functions {
    string GetLayoutBasedOnUserRole()
    {
        var userManager = Context.RequestServices.GetService(typeof(UserManager<SuperAdminUser>)) as UserManager<SuperAdminUser>;
        var userId = userManager.GetUserId(User);

        if (User.IsInRole("Admin"))
        {
            return "/Areas/Admin/Views/Shared/_Layout.cshtml";
        }
        else if (User.IsInRole("Employee"))
        {
            return "/Areas/Employee/Views/Shared/_Layout.cshtml";
        }
        else
        {
            // Default layout if the user doesn't have a recognized role
            return "/Views/Shared/_Layout.cshtml";
        }
    }
}

 <main id="main" class="main">

    <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Users</li>
                <li class="breadcrumb-item active">Profile</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile" style="width: 100%;">
        <div class="row" style="align-items: center;justify-content: space-evenly;">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show active profile-overview" id="profile-edit">

                                <form asp-controller="Profile" asp-action="EditProfile" method="post" asp-area="" enctype="multipart/form-data">


                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label"><strong>First Name</strong></label>
                                        <div class="col-md-8 col-lg-9">
                                            <input asp-for="SuperAdminUserModel.FirstName" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label"><strong>Last Name</strong></label>
                                        <div class="col-md-8 col-lg-9">
                                            <input asp-for="SuperAdminUserModel.LastName" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label"><strong>Gender </strong></label>
                                        <div class="col-md-8 col-lg-9">
                                            <select asp-for="SuperAdminUserModel.Gender" class="form-control">
                                                <option>Male</option>
                                                <option>Female  </option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label"><strong>Company Name</strong></label>
                                        <div class="col-md-8 col-lg-9">
                                            <input asp-for="SuperAdminUserModel.CompanyName" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label"><strong>Job Title</strong></label>
                                        <div class="col-md-8 col-lg-9">
                                            <input asp-for="SuperAdminUserModel.JobTitle" type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="about" class="col-md-4 col-lg-3 col-form-label"><strong>Address</strong></label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea asp-for="SuperAdminUserModel.Address" class="form-control" style="height: 60px">  </textarea>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="company" class="col-md-4 col-lg-3 col-form-label"><strong>City</strong></label>
                                        <div class="col-md-8 col-lg-9">
                                            <input asp-for="SuperAdminUserModel.City" type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Job" class="col-md-4 col-lg-3 col-form-label"><strong>State</strong></label>
                                        <div class="col-md-8 col-lg-9">
                                            <input asp-for="SuperAdminUserModel.State" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="Country" class="col-md-4 col-lg-3 col-form-label"><strong>ZipCode</strong></label>
                                        <div class="col-md-8 col-lg-9">
                                            <input asp-for="SuperAdminUserModel.ZipCode" type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Address" class="col-md-4 col-lg-3 col-form-label"><strong>Country</strong></label>
                                        <div class="col-md-8 col-lg-9">
                                            <input asp-for="SuperAdminUserModel.Country" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="about" class="col-md-4 col-lg-3 col-form-label"><strong>Notes</strong></label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea asp-for="SuperAdminUserModel.Notes" class="form-control" style="height: 60px"></textarea>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Phone" class="col-md-4 col-lg-3 col-form-label"><strong>Department</strong></label>
                                        <div class="col-md-8 col-lg-9">
                                            <input asp-for="SuperAdminUserModel.Department" type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Email" class="col-md-4 col-lg-3 col-form-label"><strong>Member</strong></label>
                                        <div class="col-md-8 col-lg-9">

                                            <select asp-for="SuperAdminUserModel.TeamMemeberType" class="form-control">
                                                <option>Sale Team</option>
                                                <option>Team Leader</option>
                                                <option>Partner</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="Phone" class="col-md-4 col-lg-3 col-form-label"><strong>Profile Image</strong></label>
                                        <div class="col-md-8 col-lg-9">
                                            <input type="file" asp-for="ProfileImage" class="form-control" />

                                        </div>
                                    </div>

                                    <div class="float-end">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form>


                             </div>
                           
                            <div class="tab-pane fade pt-3" id="profile-change-password">
                                <!-- Change Password Form -->
                                <form asp-controller="Profile" asp-action="ChangePassword" method="post" asp-area="">

                                    <div class="row mb-3">
                                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input asp-for="ChangePasswordModel.OldPassword" type="password" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input asp-for="ChangePasswordModel.NewPassword" type="password" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input asp-for="ChangePasswordModel.ConfirmPassword" type="password" class="form-control">
                                        </div>
                                    </div>

                                    <div class="float-end">
                                        <button type="submit" class="btn btn-primary">Change Password</button>
                                    </div>
                                </form><!-- End Change Password Form -->

                            </div>

                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->